@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,400;1,700&display=swap');
@import "~@fortawesome/fontawesome-free/css/all.min.css";
@import 'variables';

body {
  background-color: $favColor;
  font-family: 'Raleway', sans-serif;
}

.mainDiv {
  border-radius: 10px;
  box-shadow: 0 3px 10px rgb(0, 0, 0 / 0.2);
  max-width: 1900px;
  max-height: 600px;
  overflow-y: auto;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.no-bullet {
  list-style-type: none;
  padding-left: 0;
}

.button {
  background: none;
  border: none;
  vertical-align: top;
  opacity: 0.5;
  align-self: flex-start;
}

.button:hover {
  opacity: 1;
}

.no-display {
  display: none;
}

.fullName {
  font-weight: 700;
  font-size: 1.5em;
}